body {
	margin: 0;
	background-color: #ededed;
}
/*******************************************************************/
/*Navbar*/
header {
	background-color: #fff;
	height: 200px;
	justify-content: center;
	align-items: center;
}
h1 {
	text-align: center;
	color: grey;
	font-size: 90px;
	font-family: Ano,arial,sans-serif;
	margin-top: -150px;
}
.logo{
	width: 15%;
	transform: rotate(45deg);
	margin-right: 2.5em;
	text-align: center;
}
#navbar {
	float: left;
	display: flex;
	align-items: center;
	width: 100%;
	height: 46px;
	background-color: #fff;i
	box-shadow: 0px 1px 5px 0px #9b9b9b;
}
#navbar ul {
	list-style: none;
	display: flex;
	margin: 0 auto;
	padding: 0;
}
#navbar li {
	height: 41px;
	padding: 0 14px;
	border-bottom: 5px solid #fff;
	display: flex;
	align-items: center;
	margin-right: 2em;
}
#navbar a {
	color: grey;
	font-size: 25px;
	font-family: arial,sans-serif;
	text-decoration: none;
}
#navbar a:hover {
	color: #0084B4;
}
#navbar li:hover {
	border-bottom-color: #0084B4;
}
/*******************************************************************/
/*Page*/
#page {
	margin: 0 auto;
	width: 90%;
	background-color: #fff;
}


#equipe, #avion, #video{
	width: 100vw;
}
/*#equipe{
	margin-top: 15em;
}*/
p{
	background-color: black;
	color: white;
	padding: 1em;
	font-family: sans-serif;
}
.portrait{
	max-width: 100%;
}
#Abdennour, #Yanisse, #Leanne, #Rayane, #umutcan{
	float: left;
	max-width: 30%;
}

#Roxane, #Jessica, #Felix, #Jamil{
	float: none;
	clear: both;
}
video{
	max-width: 40%;
	float: left;
}
footer img{
	width: 6em;
	float: left;
	margin: 1em;
}
/*******************************************************************/
@font-face {
	font-family: 'Ano';
	src: url(typo/Another.otf);
	font-weight: normal;
}
